<script setup>
import { onMounted, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import { getQuestionsFromApiAsync } from "../questionData.js";
import { storeKeys } from "../sessionStorage.js";

const router = useRouter();
const route = useRoute();

const questions = ref([
  {
    category: "",
    type: "",
    difficulty: "",
    question: "",
    correct_answer: "",
    incorrect_answers: ["", "", ""],
  },
]);
const questionObject = ref({
  category: "",
  type: "",
  difficulty: "",
  question: "",
  correct_answer: "",
  incorrect_answers: ["", "", ""],
});
const userAnswers = ref([]);
const possibleAnswers = ref([""]);
const nextQuestionIndex = ref(0);

onMounted(async () => {
  try {
    console.log("onMounted triggered");
    questions.value = await getQuestionsFromApiAsync(
      10,
      sessionStorage.getItem(storeKeys.difficulty),
      20 // category id for Mythology
    );
    sessionStorage.setItem(storeKeys.questionData, JSON.stringify(questions.value))
    prepareNextQuestion();
  } catch (error) {
    console.error("Something went wrong", error);
  }
});

const prepareNextQuestion = () => {
  if (nextQuestionIndex.value >= questions.value.length) {
    finishQuiz();
  } else {
    questionObject.value = questions.value[nextQuestionIndex.value];
    const answers = new Set(questionObject.value.incorrect_answers);
    answers.add(questionObject.value.correct_answer);
    possibleAnswers.value = answers;
  }
  nextQuestionIndex.value += 1;
};

const finishQuiz = () => {
  console.info("Quiz finished. Going to results page.");
  sessionStorage.setItem(storeKeys.userAnswers, JSON.stringify(userAnswers.value));
  router.push("/Result");
};
const answerQuestion = async (clickEvent, answer) => {
  console.log("Question was answered");
  userAnswers.value.push(answer);
  prepareNextQuestion();
};
</script>

<template>
  <h1>Game</h1>
  <div id="questionArea">
    <h2>{{ questionObject.question }}</h2>
    <div v-for="answer of possibleAnswers">
      <button @click="(event) => answerQuestion(event, answer)">{{ answer }}</button>
    </div>
  </div>
</template>

<style scoped></style>
