<script setup>
import { useRouter } from "vue-router";
import { storeKeys } from "../sessionStorage";
import { ref, onMounted } from "vue";
import { updateHighScore } from "../userData";

const router = useRouter();

const questions = ref({ question: "", correct_answer: "" });
const userAnswers = ref([]);
const score = ref(0);

function restartGame() {
  router.push({ name: "Home" });
}

function calculateScore() {
  for (let index = 0; index < userAnswers.value.length; index++) {
    const correctAnswer = questions.value[index].correct_answer;
    if (correctAnswer === userAnswers.value[index]) {
      score.value += 10;
    }
  }
}

onMounted(async () => {
  console.log("onMounted triggered");
  try {
    const questionsJson = sessionStorage.getItem(storeKeys.questionData);
    const userAnswersJson = sessionStorage.getItem(storeKeys.userAnswers);

    questions.value = await JSON.parse(questionsJson);
    userAnswers.value = await JSON.parse(userAnswersJson);
    calculateScore();
    await updateHighScore(score.value);
  } catch (error) {
    console.error(error);
  }
});
</script>

<template>
  <h1>You completed the Quiz!</h1>
  <h2>Results</h2>
  <table class="results-table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Correct answer</th>
        <th>Your answer</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(data, index) in questions" :key="data.question">
        <td>{{ data.question }}</td>
        <td>{{ data.correct_answer }}</td>
        <td>{{ userAnswers[index] }}</td>
      </tr>
    </tbody>
  </table>

  <p><span class="bold">Score: </span>{{ score }}</p>

  <button @click="restartGame">Play again</button>
</template>

<style scoped>
.results-table {
  min-width: 50%;
  margin: 20px auto;
}
.results-table tr {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.results-table thead {
  background-color: rgba(0, 0, 0, 0.8);
  color: lavender;
}
</style>
