<script setup>
import { ref } from "vue";
import { createUserAsync, getUserByUserNameAsync } from "../userData.js";
import { useRouter } from "vue-router";
import { storeKeys } from "../sessionStorage";
const router = useRouter();
// user input
const userName = ref("");
const pickedDifficulty = ref("medium");
const startGameBtnText = ref("Start Game");

async function startGame(clickEvent) {
  console.info(
    "startGame triggered",
    `User name: ${userName.value}. Difficulty: ${pickedDifficulty.value}.`
  );
  let user = await getUserByUserNameAsync(userName.value);

  if (typeof user.username !== "string") {
    // if user does not exist
    startGameBtnText.value = "Starting game, hold on...";
    user = await createUserAsync(userName.value);
  }
  console.log({ user });

  sessionStorage.setItem(storeKeys.user, JSON.stringify(user));
  sessionStorage.setItem(storeKeys.difficulty, pickedDifficulty.value);
  router.push({
    name: "Game",
  });
}
</script>

<template>
  <div>
    <form method="get">
      <div class="custom-form-group">
        <label for="user-name-input">User Name</label>
        <input
          type="text"
          name="user-name-input"
          id="user-name-input"
          v-model="userName"
          placeholder="Example: JohnDoe"
        />
      </div>
      <fieldset name="difficulty-selection">
        <legend>Difficulty</legend>
        <input
          type="radio"
          name="difficulty-selection"
          id="difficulty-selection-easy"
          value="easy"
          v-model="pickedDifficulty"
        />
        <label for="difficulty-selection-easy">Easy</label>

        <input
          type="radio"
          name="difficulty-selection"
          id="difficulty-selection-medium"
          value="medium"
          v-model="pickedDifficulty"
        />
        <label for="difficulty-selection-medium">Medium</label>

        <input
          type="radio"
          name="difficulty-selection"
          id="difficulty-selection-hard"
          value="hard"
          v-model="pickedDifficulty"
        />
        <label for="difficulty-selection-hard">Hard</label>
      </fieldset>
      <button class="btn" type="submit" @click.prevent="startGame">
        {{ startGameBtnText }}
      </button>
    </form>
  </div>
</template>

<style scoped>
.custom-form-group label {
  display: block;
}
</style>
