<script setup></script>

<template>
  <router-view></router-view>
</template>

<style>
/* TODO: add 'global' styling */
:root {
  --green: rgb(100, 200, 15);
  --greenHover: rgb(100, 175, 15);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.btn {
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--green);
}
.btn:hover {
  background-color: var(--greenHover);
}
</style>
